.popover-container {
  background-color: #d1d2eb;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  max-width: 250px;
  position: relative;

  h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
    text-align: center;
  }

  p {
    margin: 5px 0;
  }
}

/* ------------------------------------------------ */
@media (max-width: 1200px) {
  .popover-container {
    padding: 8px;
    max-width: 200px;
  }
}