<table mat-table [dataSource]="people" class="mat-elevation-z8">

  <ng-container matColumnDef="characterName">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let person"> {{ person.characterName }} </td>
  </ng-container>

  <ng-container matColumnDef="gender">
    <th mat-header-cell *matHeaderCellDef> Gender </th>
    <td mat-cell *matCellDef="let person"> {{ person.gender }} </td>
  </ng-container>

  <ng-container matColumnDef="birthYear">
    <th mat-header-cell *matHeaderCellDef> Birth Year </th>
    <td mat-cell *matCellDef="let person"> {{ person.birthYear }} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="[ 'characterName', 'gender', 'birthYear']"></tr>
  <tr mat-row *matRowDef="let row; columns: [ 'characterName', 'gender', 'birthYear']"
    (click)="requestPlanet(row, $event)"
    [ngClass]="{'selected': selectedPerson === row}"
    class="data-row">
  </tr>
</table>
<app-planet-popover 
  *ngIf="selectedPlanet" 
  [planet]="selectedPlanet" 
  [ngStyle]="{top: topCoordinate +'px'}">
</app-planet-popover>
