:host {
  position: relative;
  display: block;
}

.data-row {
  cursor: pointer;
  transition: background-color 0.3s ease;
  &:hover {
    background-color: #9d9b9b;
  }

  &.selected {
    background-color: #72c1f9;
    color: white;
  }
}

app-planet-popover {
  position: absolute;
  right: 0;
}